
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
*{
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior: smooth;
}

@media screen and (max-width: 683px) {
    /* @media screen and (max-width: 480px) { */
    /* CSS rules for mobile devices */
    header{
        background: #2db6b6;
        position: fixed;
        z-index: 2;
    }
    #home_icons{
        width: 100%;
        display: flex;
    }
    #logo{
        width: 50%;
    
    }
    #logo_img{
        margin: 20px;
        width: 50%;
        height: 40%;
        border-radius: 15px;
        cursor: pointer;
    }
    #icons{
        width: 50%;
    }
   
    .fa-bars{
        color: aliceblue;
        font-size: 40px;
        float: right;
        margin-right: 10px;
        display: none;
    }
    .fa-times{
        color: aliceblue;
        font-size: 40px;
        float: right;
        margin-right: 10px;
    }
    #menu_icon_a{
        margin-top: 15px;
        font-size: 40px;
        cursor: pointer;
   
        
    }
    #menu_icon_b{
        margin-top: 15px;
        font-size: 40px;
        cursor: pointer;
        display: none;
        
    }
    #home{
        display: none;
        position: fixed;
        margin-top: 78px;
        width: 80%;
        /* margin-left: -500px; */
        background:  #2db6b6;
        border-radius: 0 0 20px 20px;
    }
    /* nav links */
    ul{
        text-align: center;
        width: 100%;
        line-height: 50px;
        font-size: 20px;
        
    }
    ul li{
        list-style: none;
    }
    ul li a{
        text-decoration: none;
        color:#ffffff
    }
    ul li:hover{
        text-decoration: none;
        border: purple solid 3px;
        text-align: center;
        border-radius: 20px;
    }
    #main_home{
        width: 100%;
        height: 100dvh;
        background-image: linear-gradient(to bottom, rgba(47, 70, 79, 0.531),rgba(47, 70, 79, 0.6)), url("images/img1.jpg");
        background-position: center;
        background-size: cover;
    }
    #welcome_statement{
        width: 100%;
        font-size: 40px;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 150px;
        

    } 
    
    /* test */
    #control_icons{

        /* background: red; */
        width: 50%;
        display: flex;
    }
    /* ******************************************************************* */
    /* sections */
    .sections{
        width: 100%;
        height: 100dvh;
    }
    #social_links{
        width: 100%;
        height: max-content;
        margin-right: 15px;
        text-align : right;
        /* display: block;
        justify-content: right;
        text-align: right; */
    }
    /* #social_links{
        width: 100%;
        display: flex;
        justify-content: center; 
    } */
    #social_links h5 a{
        color: #04fcfc;
        margin: 8px;
    }
    .sections{
        padding-top: 75px;
    }
    h2{
        color: #04fcfc;
        margin-bottom: 20px;
        padding-top: 5px;
        font-weight: 900;
        text-align: center;
    }
    ol{
        align-items: center;
    }
   ol li{
        list-style: circle;
        text-align: left;
        margin-left: 20px;
        font-size: 20px;
    }
    #Our_header{
        width: 100%;
        height: 100dvh;
    }
    .Our_header_services{
        width: 100%;
        height: 100dvh;
        background-image: linear-gradient(to bottom, rgba(47, 70, 79, 0.531),rgba(47, 70, 79, 0.6)), url("images/img4.jpg");
        background-position: center;
        background-size: cover;
        color: #ffffff;
        text-align: center;
    }
    p{
        color: #ffffff;
        font-size: 25px;
    }
    span{
        color: #04fcfc;
    }
    /* button */
    #btn{
        width: 120px;
        height: 50px;
        border-radius: 5px;
        border: none;
        outline: #04fcfc;
        background:#2db6b6;
        transition: 2ms;
    }
    #btn:hover{
        background:#04fcfc;
    }
    #btn a{
        text-decoration: none;
        color: #ffffff;
        font-weight: 900;
        font-size: 18px;
        transition: 2ms;
    }
    #btn a:hover{
       color: black;
    }
  }
